
<section id="about" class="about section gray-bg">

  <div class="container section-title" data-aos="fade-up">
    <h2>About Us</h2>
    <p>Learn what we stand for</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6" data-aos="fade-right">
        <img src="assets/img/2.jpg" alt="Nemere rođo." class="img-fluid rounded">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
        <h3>About Our One-of-a-Kind Library System</h3>
        <p class="fst-italic">We are here to declutter the mess in your library.</p>
        <ul>
          <li><i class="bi bi-check-circle me-2"></i> <strong>Buy With Ease</strong>: Explore thousands of books by your favorite authors.</li>
          <li><i class="bi bi-check-circle me-2"></i> <strong>Sell With Ease</strong>: Books can give you knowledge and quick cash.</li>
          <li><i class="bi bi-check-circle me-2"></i> <strong>Trade With Others</strong>: Trade with others for the book you want.</li>
          <li><i class="bi bi-check-circle me-2"></i> <strong>Ask Questions</strong>: Need some help? There are plenty of readers on this page!</li>
          <li><i class="bi bi-check-circle me-2"></i> <strong>Share Your Thoughts</strong>: Let us know what you think of the book.</li>
        </ul>               
      </div>
    </div>
  </div>
</section>