
<section id="services" class="services section">

  <div class="container section-title" data-aos="fade-up">
    <h2>Offerings</h2>
    <p>See what we have to offer</p>
  </div>

  <div class="container">

    <div class="row gy-4">
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-currency-dollar"></i><i class="bi bi-book"></i>
          </div>
          <a href="service-details.html" class="stretched-link">
            <h3>Buy a Book</h3>
          </a>
          <p>You want it? We got it!</p>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-book"></i><i class="bi bi-currency-dollar"></i>
          </div>
          <a href="service-details.html" class="stretched-link">
            <h3>Sell a Book</h3>
          </a>
          <p>Help others get some knowledge while making quick cash.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-arrow-left-right"></i><i class="bi bi-book"></i>
          </div>
          <a href="service-details.html" class="stretched-link">
            <h3>Trade</h3>
          </a>
          <p>Maybe someone wants what you have and you want what they have?</p>
          <p>Why not make a trade?</p>
        </div>
      </div>
</section>